*{
    padding: 0px;
    margin: 0px;
    background-color: #f0f2f5;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container1{
    height: 560px;
    width: 1090px;
    padding-top: 72px;
    padding-bottom:112px;

}

.container2{
    height: 500px;
    width: 980px;
    padding: 20px 0px;
    margin: 0px 300px;
    display: flex;
    justify-content: center;
}

.Facebook{
    height: 266px;
    width: 550px;
}

.Facebook img{
    height: 50px;
    padding-top: 112px;
    padding-bottom: 16px;
}

.text{
    font-size: 28px;
    height: 64px;
    width: 500px;
}

.container3{
    height: 400px;
    width: 400px;
    align-content: center;
   
}

.sign-in-card{
    height: 315px;
    width: 400px;
    padding: 10px 0px 24px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.login-info{
    height: 130px;
    width: 400px;
}

.ID{
    background-color: white;
    padding: 5px;
}

._col{
    background-color: white;
    box-shadow: #8a8d91;
}

.username{
    background-color: white;
    color: grey;
    border-radius: 6px;
    padding: 2px 0px;
    border: 1px solid #ccd0d5;
    font-size: 16px;
}

.password{
    background-color: white;
    color: grey;
    border-radius: 5px;
    padding: 2px 0px;
    border: 1px solid #ccd0d5;
    font-size: 16px;
}

.login-info input{
    padding: 10px;
    height: 30px;
    width: 360px;
}

.log-in{
    height: 48px;
    width: 381px;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}

.login-info :focus-visible{
   border: 2px solid #3578E5;
   outline: none;
   color: black;
}

.forgotten{
    margin-top: 16px;
}

.forgotpass{
    color: #1877f2;
    height: 18px;
    width: 400px;
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.forgotten :hover{
    text-decoration: underline;
}

a :hover{
    text-decoration: underline;
}

.line{
    border: 1px solid #dddfe2;
    margin: 25px 0px;
}

.create-account{
    height: 48px;
    width: 200px;
    padding: 0px 16px;  
    background-color: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}

.createpage{
    font-size: 14px;
    margin-top: 28px;
    text-align: center;
    width: 396px;
}

.createpage a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: #f0f2f5;
}

.createpage :hover{
    text-decoration: underline;
}

.footer{
    height: 156px;   
    background-color: white;
    list-style-type: none;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: white;
}

#contentCurve{
    border-bottom: 1px solid #dddfe2;
    margin-top: 8px;
    width: 950px;
    margin-left: 12px;
}

.footer0{
    background-color: white;
    margin: 0px 300px;
}

.footer1{
    height: 20px;
    width: 940px;
    display: flex;
    flex-wrap: wrap;
}

li{
    padding-left: 15px;
    background-color: white;
    font-size: 12px;
    color: #8a8d91;
}

.foot{
    background-color: white;

}
.footer2{
    padding-top: 10px;
    width: 980px;
}

.footer2 li{
    padding-top: 10px;
}

a{
    background-color: white;
    text-decoration: none;
    color: #8a8d91;
}

li :hover{
    text-decoration-line: underline;
}
span{
    font-size: 11px;
    color: #8a8d91;
    background-color: white;
}

.footer3{
    margin: 20px 0px;
    padding-left: 15px;
}

/* Forgotten password */

.head{
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
}

.head div{
    background-color: white;
    align-items: center;
}

#logo{
    height: 22px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
}

.logo-box{
    height: 40px;
    width: 900px;
    background-color: white;
    align-items: center;
}

.box{
    height: 40px;
    width: 190px;
    border: 1px solid gray;
    padding-left: 4px;
    font-size: 16px;
    border-radius: 6px;
    background-color: white;
    color: grey;
    border: 1px solid #ccd0d5;
}

#user-pass{
    padding: 0px 4px;
}

.login-details{
    height: 40px;
    width: 700px;
    display: flex;
    flex-direction: row;
}

.loginBtn{
    color: white;
    background-color: #1877f2;
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.form{
    display: flex;
}

.form :focus-visible{
    border: 2px solid #3578E5;
    outline: none;
}
.forget-acc{
    color: #1877f2;
    font-size: 15px;
}

.find-box{
    height: 400px;
    width: 500px;
    margin: 100px 500px;
}

.find-box div{
    background-color: white;
}

.find-acc{
    height: 25px;
    font-size: 20px;
    padding: 18px;
    background-color: white;
}

#account-dets{
    height: 40px;
    width: 450px;
    padding: 20px;
}

.para{
    background-color: white;
}

#email-mobile{
    background-color: white;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}

#email-mobile :focus-visible{
    border: 2px solid #3578E5;
    outline: none;
}

.email-box{
    padding: 20px;
}

#email-box{
    height: 18px;
    width: 418px;
    font-size: 16px;
    border-radius: 6px;
    background-color: white;
    padding: 15px 20px;
}

.options{
    padding: 16px;
    direction: rtl;
}

.options :hover{
    cursor: pointer;
}

#ops{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 550;
}

.search{
    background-color: #1877f2;
    color: white;
}

.cancel{
    background-color: #e4e6eb;
}

hr{
    width: 498px;
    border: 1px solid #c2bfbf;
}